h1,h2,h2,p {
	font-family: 'Arial Unicode MS', Arial, sans-serif;
}

body,table td,select {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: small;
}

body {
	color: black;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: white;
	direction: ltr;
}

h1 {
	color: #07115A;
	margin-top: 15px;
	font-size: xx-large;
}

h2 {
	color: #777984;
}

h3 {
	margin-top: 10px;
	color: #777984;
}

p {
	margin-top: 10px;
}


.embedded_iframe {
	margin: 2px;
	border: 0px;
	padding: 2px;
}

.embedded_iframe ul,ol li {
	indent: 10px;
}

a,a:visited,a:hover {
	color: #0000AA;
}

.gwt-PopupPanel {
	padding: 3px;
	border: 2px solid #777984;
	background: url("images/mostly_opaque.png");
}

#filters_data {
	border-collapse: collapse;
}

#filter_submission_pagination {
	background: #E3E8FF;
}

#filter_submission_pagination {
	text-align: center;
	color: #a1abff;
	font-weight: bold;
	width: 100%;
	border-collapse: collapse;
}

#submission_container,#filters_container,#help_container {
	overflow: scroll;
}

#submission_admin_bar {
	width: 100%;
}	

.error_message {
	color: red;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 0px;
}

.popup_header {
	background-color: #ECF5F6;
}

.stretch_popup_header {
	background-color: #ECF5F6;
	width: 100%;
}

.stretch_header {
	width: 100%;
}

.help_panel {
	width: 100%;
}

.help_panel td {
	border: 1px solid #07115A;
	width: 100%;
	padding: 2px 4px 2px 4px;
}

.uploadCloseButton {
	float: right;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.verticalFlowPanel {
	float: left;
}

.uploadFrame {
	float: left;
	clear: none;
	border: 0px;
}

.helpvid {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	text-decoration: none;
	padding: 2px;
	margin-top: 1000px;
	margin-bottom: 1000px;
	margin-right: 0px;
	margin-left: 0px;
	border-color: #69f #00f #00f #69f;
}

#chart_image,#map_area {
	width: 600px;
	height: 500px;
}

#nav_bar_help_login {
	position: absolute;
	top: 0px;
	margin: 2px;
	padding: 3px;
	text-align: right;
	float: left;
}

#nav_bar_help_login_item {
	padding: 2px 2px 2px 2px;
	float: left;
}

#filter_desc_title {
	text-align: left;
}

.popup_menu {
	width: 100%;
}
.popup_close_cell {
	text-align: right;
}

#layout_panel,
#help_panel {
	position: relative;
	top: 16px;
}

#odk_aggregate_logo {
	position: absolute;
	left: 20px;
	top: 8px;
}

#form_title_cell {
	text-align: center;
}

#form_name {
	color: #07115A;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#filter_header {
	color: #686E93;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#submission_nav_table {
	width: 100%;
	border-bottom: 1px solid #07115A;
}

#filters_container {
	border-right: 1px solid #07115A;
}

#help_panel {
	border-top: 1px solid #07115A;
}

.form_title_bar td {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	align: center;
}
.app_version_string {
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 80%;
	font-weight: bold;
	padding-left: 20px;
	color: #0044A7;
}
