.gwt-Button {
	background: #F5F5F5;
	border: 1px solid #DEDEDE;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 100%;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #336699;
	cursor: pointer;
	padding: 5px 10px 6px 7px;
}
.gwt-Button-close {
	padding: 5px 7px 6px 7px;
}
.gwt-Button img {
	margin: 0px 3px -3px 0px;
	padding: 0px;
	border: none;
	width: 16px;
	height: 16px;
}
.gwt-Button-close img {
	margin: 0px 0px -3px 0px;
}

.gwt-Button[disabled] {
	opacity: 0.5;
	filter: alpha(opacity = 50);
	border: 1px solid #4E4E4E;
}

.gwt-Button:hover {
	background: #DFF4FF;
	border: 1px solid #C2E1EF;
}

.gwt-Button[disabled]:hover {
	background: #F5F5F5;
	border: 1px solid #4E4E4E;
}

.gwt-Button:active {
	background: #163CB8;
	color: #DFF4FF;
}

.gwt-Button[disabled]:active {
	background: #F5F5F5;
	color: #336699;
	border: 1px solid #4E4E4E;
}

.gwt-Button-negative {
	color: #D12F19;
}
.gwt-Button-negative:hover {
	background: #FBE3E4;
	border: 1px solid #FBC2C4;
	color: #D12F19;
}

.gwt-Button-negative[disabled]:hover {
	background: #F5F5F5;
	border: 1px solid #4E4E4E;
}

.gwt-Button-negative:active {
	background: #990A10;
	color: #FBE3E4;
}

.gwt-Button-negative[disabled]:active {
	background: #F5F5F5;
	color: #D12F19;
}

.gwt-Button-positive {
	color: #529214;
}
.gwt-Button-positive:hover {
	background: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

.gwt-Button-positive[disabled]:hover {
	background: #F5F5F5;
	color: #529214;
	border: 1px solid #4E4E4E;
}

.gwt-Button-positive:active {
	background: #21A60F;
	color: #E6EFC2;
}

.gwt-Button-positive[disabled]:active {
	background: #F5F5F5;
	color: #529214;
}
/* 
* Global widget style. 
*/
.gwt-DatePicker {
  border: 1px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
  color: 6b6b6b;
  cursor: default;
  width: 7em;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
  font-family: Arial;
  font-size: 65%;
  padding: 2px;
  text-align: center;
  padding: 2px;
  outline: none;
  cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector  td :focus {
  outline: none
}

.gwt-DateBox input {
  width: 8em;
}

/* 
* Calendar styles 
*/
.datePickerDays {
  background-color: white;
  width: 100%;
}

.datePickerWeekdayLabel {
  background: #dbe6de;
}

.datePickerWeekendLabel {
  background: #dbe7ef;
}

.datePickerDay {
  padding: 1px;
  cursor: hand;
  width: 1em;
}

.datePickerDayIsToday {
  border: 1px solid black;
  padding: 0px;
}

.datePickerDayIsWeekend {
  background: #f1f1f1;
}

.datePickerDayIsFiller {
  color: #bfbfbf;
  padding: 1px;
  cursor: hand;
}

.datePickerDayIsSelected {
  background: #aaccee;
}

.datePickerDayIsDisabled {
  color: graytext;
}

.datePickerDayIsHighlighted {
  border: 1px solid #eeeeee;
  padding: 0px;
}

.datePickerDayIsSelectedAndHighlighted {
   background: #bbddff;
}


/* 
* Month selector styles 
*/
.datePickerMonthSelector {
  background: #dbe6de;
  width: 100%;
  text-align: center;
}

.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 70%;
}

.datePickerPreviousButton {
   text-align: left;
}

.datePickerNextButton {
     text-align: right; 
}